.2_2 { 
	overflow:hidden;
}
.e2_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e2_4 { 
 /* On met en place le fond d'écran */
 min-height: 100%;
 min-width: 1024px;
 /* On indique un redimensionnement proportionnel */
 width: 100%;
 height: auto;
 /* L'image est positionnée en haut à gauche */
 position: fixed;
 top: 0;
 left: 0;
}
@media screen and (max-width: 1024px) { /* Le traitement est ici spécifique à l'image */
 img.fondecran {
 left: 50%;
 margin-left: -512px; /* 50% */
 }
.e2_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:441px;
	height:110px;
	position:absolute;
	left:500px;
	top:457px;
	font-family:Akira Expanded;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
